.hero.is-fullheight {
    background-color: #a2cef0;
}

.hero:after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 50%;
    background: linear-gradient(to bottom, transparent 0%, #f1f1f1 100%);
}

.hero-background {
    background-image: url('/img/shanghai-background.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    opacity: 1;
    transition: all 0.4s ease-out;
}

.hero h1.title {
    font-size: 4rem;
    color: #fff;
    text-shadow: 2px 2px 1px #444444;
}

.hero h2.subtitle {
    font-size: 2rem;
    color: #fff;
    text-shadow: 1px 1px 1px #444444;
}

.countdown-days-amount,
.countdown-hours-amount,
.countdown-minutes-amount,
.countdown-seconds-amount {
    font-size: 5rem;
    font-weight: bold;
}

.countdown div span:nth-child(2) {
    display: block;
    text-transform: lowercase;
}

.pricing {
    margin-bottom: 5rem;
}

.pricing h2.title {
    margin-bottom: 5rem;
}

.pricing .pricing-option {
    padding: 3rem 1.5rem;
    border: 1px solid #f1f1f1;
    background-color: #fff;
    transition: all 0.3s ease-out;
}

.pricing .pricing-option:hover {
    box-shadow: 0 49px 72px 0 rgba(25,25,25,.12);
}

.pricing .pricing-option h2.title {
    font-size: 2.5rem;
}